form {
  margin-top: 25px;
  
  div.form-message {
    margin-bottom: 15px;
    
    &.error {
      color: red;
    }
    &.success {
      color: green;
    }
  }
  
  div.form-control {
    margin-bottom: 15px;

    input.error {
      border-color: red;
    }

    div.error {
      color: red;
    }
  }
}